html, body {
    min-height: 100vh;
    margin: 0;
    background-color: rgb(4, 4, 61);
}
.tit {
    text-align: center;
    color: white;
}
.emap {
    text-align: center;
}


.verde, .amarelo, .azul {
    font-family: Georgia, serif;
    font-size: 200%;
    margin: 0;
}
.verde { color: green; }
.amarelo { color: yellow; }
.azul { color: blue; }



header{
    text-align:center;
    color: white;
}
article{
     border: 3px solid black;
    width:50%;
    margin:50px auto;
    padding:20px
}
.conte{
    color:rgb(87, 61, 206);
    text-align: center;
}
.txt{
    border:2px dashed rgb(7, 34, 83);
    box-shadow: 0px 0px 10px 14px rgb(24, 33, 110);
    width:20vw;
    margin:20px auto;
    color:white;
    text-align: center;
}
.flexb{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#hre{
    color:rgb(21, 55, 204);
    margin:10px;
    text-decoration: none;
    border: 1px solid rgb(2, 43, 2);
    padding: 5px;
    transition:all 1.5s;
}
#hre:hover{
    color:violet;
}
@media (max-width: 752px){
    .txt{
        width:100%;
    }
}